@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

:root {
    --clr-bg: #1C1C1C;
    --clr-upper: #6943FF;
    --clr-lower: #1F2937;
    --clr-primary: #FFF;
    --clr-secondary: #CCC1FF;
    --clr-border: #ccc;
    --clr-section: #273549;
    --clr-support-text: #FFF;
    --clr-button-text: #3D3D3D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.2s ease;
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--clr-primary)
}
.container {
    width: 100vw;
}
header {
    background: var(--clr-upper);
}

h1 {
    font-size: 25px;
    line-height: 38px;
    padding: 2rem 0;
}

.input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 6rem; 
    height: 4.5rem;
    background: inherit;
    border: 2px solid var(--clr-border);
    border-radius: 5px;

    outline: none;
    font-family: inherit;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--clr-primary);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.convert-btn {
    width: 6rem;
    height: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;

    font-family: inherit;
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--clr-button-text);

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 5px;

    cursor: pointer;
}

main {
    background: var(--clr-lower);
    padding: 2rem 0.8rem;
}

section {
    margin: 1.5rem;
    background: var(--clr-section);
    height: 6rem;
    border-radius: 5px 0px 0px 0px;
}

h3 {
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--clr-secondary);  

    padding-top: 1.5rem;
    padding-bottom: 0.8rem;
}

p {
    font-size: 0.7rem;
    height: 1.5rem;
    color: var(--clr-support-text);
}

.theme-switch-wrapper {
    display: none;
}


@media(min-width: 600px) {
    body {
        background-color: var(--clr-bg);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container {
        width: 500px;
    }

/* from: https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8 */


    .theme-switch-wrapper {
        display: flex;
        align-items: center;
        position: relative;
    }
    .theme-switch {
        display: inline-block;
        height: 34px;
        position: relative;
        margin-bottom: 60px;
        left: 88%;
        bottom: 90%;
        width: 60px;
    }
    
    .theme-switch input {
        display:none;
    }
    
    .slider {
        background-color: #273540;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: .4s;
    }
    
    .slider:before {
        background-color: #fff;
        bottom: 4px;
        content: "";
        height: 26px;
        left: 4px;
        position: absolute;
        transition: .4s;
        width: 26px;
    }
    
    input:checked + .slider {
        background-color: #CCC;
    }
    
    input:checked + .slider:before {
        transform: translateX(26px);
    }
    
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }

    [data-theme="light"] {
        --clr-bg: #1C1C1C;
        --clr-upper: #5A537B;
        --clr-lower: #F4F4F4;
        --clr-primary: #FFF;
        --clr-secondary: #5A537B;
        --clr-border: #ccc;
        --clr-section: #FFF;
        --clr-support-text: #353535;
        --clr-button-text: #3D3D3D;
    }
    
}
