@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

:root {
    --clr-bg: #1C1C1C;
    --clr-upper: #6943FF;
    --clr-lower: #1F2937;
    --clr-primary: #fff;
    --clr-secondary: #CCC1FF;
    --clr-border: #B295FF;
    --clr-section: #273549;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--clr-primary)
}
.container {
    width: 100vw;
}
header {
    background: var(--clr-upper);
}

h1 {
    font-size: 25px;
    line-height: 38px;
    padding: 2rem 0;
}

.input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 6rem; 
    height: 4.5rem;
    background: inherit;
    border: 2px solid var(--clr-border);
    border-radius: 5px;

    outline: none;
    font-family: inherit;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--clr-primary);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.convert-btn {
    width: 6rem;
    height: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;

    font-family: inherit;
    font-weight: 500;
    font-size: 0.8rem;
    color: #3D3D3D;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 5px;

    cursor: pointer;
}

main {
    background: var(--clr-lower);
    padding: 2rem 0.8rem;
}

section {
    margin: 1.5rem;
    background: var(--clr-section);
    height: 6rem;
    border-radius: 5px 0px 0px 0px;
}

h3 {
    font-weight: 600;
    font-size: 1rem;
    color: var(--clr-secondary);  

    padding-top: 1.5rem;
    padding-bottom: 0.8rem;
}

p {
    font-size: 0.7rem;
    height: 1.5rem;
}

@media(min-width: 600px) {
    body {
        background-color: var(--clr-bg);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container {
        width: 500px;
    }
}
